
<section class="h-screen">
  <div class="container h-full px-6 py-24">
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
      <!-- Left column container with background-->
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-6/12">
        <img
          src="https://startup.mp.gov.in/assets/img/login-bg.png"
          class="w-full"
          alt="Phone image" />
      </div>
      <div class="md:w-8/12 lg:ml-6 lg:w-5/12 w-3/5">

      <router-outlet></router-outlet>
      </div>
      <!-- Right column container with form -->

    </div>
  </div>
</section>
