<!-- Forgot Password Form -->
<div class="container mx-auto max-w-xs sm:max-w-md border bg-white shadow-lg rounded px-8 py-6">
  <h2 class="text-center text-xl font-bold mb-4">Forgot Password</h2>

  <form [formGroup]="forgotPasswordForm" *ngIf="!showConfirmationCode && !showNewPassword" (ngSubmit)="onSubmit()">
    <!-- Email Field -->
    <div class="mb-4">
      <label for="username" class="block text-gray-700 font-bold mb-2">Email:</label>
      <input type="email" id="username" formControlName="username"
             class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <!-- Submit Button -->
    <div class="flex justify-center mt-6">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              [disabled]="loading">
        Send OTP
      </button>
    </div>
  </form>

  <form [formGroup]="confirmationCodeForm" *ngIf="showConfirmationCode && !showNewPassword" (ngSubmit)="onSubmit()">
    <!-- Confirmation Code Field -->
    <div class="mb-4">
      <label for="code" class="block text-gray-700 font-bold mb-2">Confirmation Code:</label>
      <input type="text" id="code" formControlName="code"
             class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <!-- New Password Field -->
    <div class="mb-4">
      <label for="newPassword" class="block text-gray-700 font-bold mb-2">New Password:</label>
      <input type="password" id="newPassword" formControlName="newPassword"
             class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <!-- Submit Button -->
    <div class="flex justify-center mt-6">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              [disabled]="loading">
        Set New Password
      </button>
    </div>
  </form>
</div>
